#cursor-tracker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

#cursor-tracker::before,
#cursor-tracker::after {
    content: '';
    position: absolute;
    background-color: red;
    display: none; /* Inicialmente escondido */
    pointer-events: none; /* Não capturar eventos do mouse nas linhas */
}

#cursor-tracker::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#cursor-tracker::after {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
}

body {
    cursor: default; /* Esconder o cursor padrão */
}
