#cursor-tracker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

#cursor-tracker::before,
#cursor-tracker::after {
    content: '';
    position: absolute;
    background-color: red;
}

#cursor-tracker::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#cursor-tracker::after {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
}

/* Estilo para acompanhar o cursor */
body {
    cursor: none;
}

#cursor-tracker::before,
#cursor-tracker::after {
    display: none;
}

body:hover #cursor-tracker::before,
body:hover #cursor-tracker::after {
    display: block;
}

