body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: none;
}

#horizontal-line, #vertical-line {
    position: absolute;
    background-color: red;
}

#horizontal-line {
    height: 2px;
    width: 100%;
    top: 0;
}

#vertical-line {
    width: 2px;
    height: 100%;
    left: 0;
}

#custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue; /* Cor do cursor personalizado */
    border-radius: 50%; /* Torna o cursor um círculo */
    pointer-events: none; /* Permite que o cursor não interfira com outros elementos */
    transform: translate(-50%, -50%); /* Centraliza o cursor no ponto do mouse */
}
